<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="cssFiles/style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="../static/css/form.css" />


    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Event</title>
    <style>
        button:hover{
            background-color: #1A5376;
        }
        a:hover{
            color: darkblue;
        }
    </style>
</head>
<body class="bg-gray-200 flex-1 items-center justify-center h-screen">
    <div class="nav flex justify-evenly">
        <!-- Nav Logo & Name -->
        <div class="navbar-logo">
            <img src="../static/img/logoartist.png">
            <a href="/"><span style="color: white;"><span style="color: white;">AR</span>tist</span></a>      
        </div>
    
        <!-- Nav menu -->
        <ul class="nav-menu ">
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/vendor-registration">Vendor Registration</a></li>
          <li><a href="../templates/">User Registration</a></li>

        </ul>

        <div class="mobile-menu">
            <div class="hamburger" id="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="nav-menu" id="menu">
                <!-- Your list items here -->
                <li><a class="active" href="../index.html">Home</a></li>
                <li><a href="form.html">Vendor Registration</a></li>
                <li><a href="form2.html">User Registration</a></li>
            </ul>
        </div>
        
    
        <!-- google translate -->
        <div id="google_translate_element">
          <script type="text/javascript"
            src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
      </div>
    <div class="flex items-center justify-center flex-col">
        <div class="flex items-center justify-center m-10 mx-4 max-w-screen-lg overflow-hidden rounded-xl border shadow-lg border-yellow-200 border-8">
            <div class="flex flex-col overflow-hidden bg-white sm:flex-row md:h-80">
                <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-3/5">
                    <h2 class="text-xl font-bold text-gray-900 md:text-2xl lg:text-4xl">Traditional Mela</h2>
                    <p class="mt-2 text-lg">At Rajasthan</p>
                    <p class="mt-4 mb-4 max-w-md text-gray-600">Rajasthan Traditional Mela: A vibrant showcase of Rajasthan's rich culture, featuring colorful attire, folk dances, and traditional crafts.Step into the heart of Rajasthan's cultural heritage at the Traditional Mela, where age-old traditions come to life in a lively celebration.</p>
                    <a class="mt-1 mb-4 text-lg" href="https://maps.app.goo.gl/RhVJFUSsvpV35jLU6" target="_blank">Click here to get the location !!</a>

                    <div class="mt-auto">
                        <!-- Vendor Registration Button -->
                        <button class="connect-button bg-yellow-600 hover: bg-black text-white font-bold py-2 px-4 rounded-full transition m-2" >
                            Vendor Registration
                        </button>
                        <!-- User Registration Button -->
                        <button class="connect-button mt-2 bg-yellow-600 text-white font-bold py-2 px-4 rounded-full transition">
                            User Registration
                        </button>
                        <svg class="flex-0 group-hover:w-6 ml-4 h-6 w-0 transition-all" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                        </svg>
                    </div>
                </div>
                <!-- Rest of your content here -->
                <div class="order-first ml-auto h-48 w-full bg-gray-700 sm:order-none sm:h-auto sm:w-1/2 lg:w-2/5">
                    <img class="h-full w-full object-cover" src="../static/img/event0.jpeg.jpg" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="flex items-center justify-center flex-col">
        <div class="flex items-center justify-center m-10 mx-4 max-w-screen-lg overflow-hidden rounded-xl border shadow-lg border-yellow-200 border-8">
            <div class="flex flex-col overflow-hidden bg-white sm:flex-row md:h-80">
                <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-3/5">
                    <h2 class="text-xl font-bold text-gray-900 md:text-2xl lg:text-4xl">Artistry Fusion Fair</h2>
                    <p class="mt-2 text-lg">At Gujarat</p>
                    <p class="mt-4 mb-4 max-w-md text-gray-600">An extraordinary journey through time and creativity, where traditional craftsmanship and modern innovation converge under one roof. This exceptional event celebrates the rich tapestry of human artistry, offering a captivating blend of traditional and modern artifacts.</p>
                    <a class="mt-1 mb-4 text-lg" href="https://maps.app.goo.gl/RhVJFUSsvpV35jLU6" target="_blank">Click here to get the location !!</a>

                    <div class="mt-auto">
                        <!-- Vendor Registration Button -->
                        <button class="connect-button bg-yellow-600 hover: bg-black text-white font-bold py-2 px-4 rounded-full transition m-2" >
                            Vendor Registration
                        </button>
                        <!-- User Registration Button -->
                        <button class="connect-button mt-2 bg-yellow-600 text-white font-bold py-2 px-4 rounded-full transition">
                            User Registration
                        </button>
                        <svg class="flex-0 group-hover:w-6 ml-4 h-6 w-0 transition-all" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                        </svg>
                    </div>
                </div>
                <!-- Rest of your content here -->
                <div class="order-first ml-auto h-48 w-full bg-gray-700 sm:order-none sm:h-auto sm:w-1/2 lg:w-2/5">
                    <img class="h-full w-full object-cover" src="../static/img/event2.jpeg.jpg" loading="lazy" />
                </div>
            </div>
        </div>
    </div>   
    <div class="flex items-center justify-center flex-col">
        <div class="flex items-center justify-center m-10 mx-4 max-w-screen-lg overflow-hidden rounded-xl border shadow-lg border-yellow-200 border-8">
            <div class="flex flex-col overflow-hidden bg-white sm:flex-row md:h-80">
                <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-3/5">
                    <h2 class="text-xl font-bold text-gray-900 md:text-2xl lg:text-4xl">Art Fair
                    </h2>
                    <p class="mt-2 text-lg">At Meghalaya</p>
                    <p class="mt-4 mb-4 max-w-md text-gray-500">Art from Meghalaya: Discover the enchanting world of Meghalayan art, where tribal motifs and nature-inspired creativity blend seamlessly.Delve into the intricate artistry of Meghalaya, where every piece reflects the state's diverse culture and breathtaking landscapes.</p>
                    <a class="mt-1 mb-4 text-lg" href="https://maps.app.goo.gl/RhVJFUSsvpV35jLU6" target="_blank">Click here to get the location !!</a>

                    <div class="mt-auto">
                        <!-- Vendor Registration Button -->
                        <button class="connect-button bg-yellow-600 hover: bg-black text-white font-bold py-2 px-4 rounded-full transition m-2" >
                            Vendor Registration
                        </button>
                        <!-- User Registration Button -->
                        <button class="connect-button mt-2 bg-yellow-600 text-white font-bold py-2 px-4 rounded-full transition">
                            User Registration
                        </button>
                        <svg class="flex-0 group-hover:w-6 ml-4 h-6 w-0 transition-all" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                        </svg>
                    </div>
                </div>
                <!-- Rest of your content here -->
                <div class="order-first ml-auto h-48 w-full bg-gray-700 sm:order-none sm:h-auto sm:w-1/2 lg:w-2/5">
                    <img class="h-full w-full object-cover" src="../static/img/event1.jpeg.jpg" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
        
</body>
<script>
    // Get the toggle button and the navbar content
    const toggleNavButton = document.getElementById('toggleNavButton');
    const navbar = document.querySelector('.nav-menu');
  
    // Add a click event listener to the toggle button
    toggleNavButton.addEventListener('click', function () {
      // Toggle the "active" class on the navbar to show/hide it
      navbar.classList.toggle('active');
    });
  </script>
  
</html>